{% extends 'base.html.twig' %}

{% block title %}AJOUTER UNE ANNONCES{% endblock %}

{% block body %}
    <h1 class="text-center text-info">Ajouter une Annonces</h1>

    {{ include('annonces/_form.html.twig') }}

    <a class="btn btn-outline-danger mt-3" href="{{ path('annonces_index') }}">Annuler</a>
{% endblock %}
